<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/data/jpa     
	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<!-- <context:component-scan base-package="com.capgemini" /> -->

	<context:component-scan base-package="com.capgemini.service" />

    <!-- demander à spring-data de générer automatiquement les DAOs
         dont les interfaces sont dans le package précisé -->
    <jpa:repositories    base-package="com.capgemini.dao" /> 
     
	

    <import resource="./mysqlDatasourceConfig.xml"/> <!-- avec profile "mysql" -->
	
	<import resource="./h2DatasourceConfig.xml"/> <!-- pour l'instant sans profile , plus tard avec profile "h2" -->
	
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<!-- ok avec hibernate 4 et aussi avec hibernate 5 sans autre probleme -->
		<!--  
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		-->
		<!-- 
		 <property name="packagesToScan" value="com.capgemini.entity" />
		 --> 
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>
